<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Runse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Runse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DefaultNVIDIAAPIKeyObfuscated</key>
	<string>$(DEFAULT_NVIDIA_API_KEY_OBFUSCATED)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Runse Refine Text</string>
			</dict>
			<key>NSMessage</key>
			<string>refineText</string>
			<key>NSPortName</key>
			<string>Runse</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
				<string>NSPasteboardTypeString</string>
				<string>NSPasteboardTypeRTF</string>
				<string>NSPasteboardTypeRTFD</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.rtf</string>
				<string>com.apple.flat-rtfd</string>
				<string>public.html</string>
				<string>NSHTMLPboardType</string>
				<string>NSPasteboardTypeHTML</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Runse Translate Text</string>
			</dict>
			<key>NSMessage</key>
			<string>translateText</string>
			<key>NSPortName</key>
			<string>Runse</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
				<string>NSPasteboardTypeString</string>
				<string>NSPasteboardTypeRTF</string>
				<string>NSPasteboardTypeRTFD</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.rtf</string>
				<string>com.apple.flat-rtfd</string>
				<string>public.html</string>
				<string>NSHTMLPboardType</string>
				<string>NSPasteboardTypeHTML</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Runse Pinyin</string>
			</dict>
			<key>NSMessage</key>
			<string>pinyinText</string>
			<key>NSPortName</key>
			<string>Runse</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
				<string>NSPasteboardTypeString</string>
				<string>NSPasteboardTypeRTF</string>
				<string>NSPasteboardTypeRTFD</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.rtf</string>
				<string>com.apple.flat-rtfd</string>
				<string>public.html</string>
				<string>NSHTMLPboardType</string>
				<string>NSPasteboardTypeHTML</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
